@import "../../scss/variables";

.studies-page {
  display: flex;
  height: $default-height-mobile;

  &_title {
    width: $default-width;
    background-color: $studies-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-h2 {
      width: 90%;
      font-family: $font-title;
      font-size: 60px;
      padding-top: 100px;
    }
  }

  &_description {
    width: $default-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-div {
      width: 80%;
      h3 {
        color: $studies-color;
        font-family: $font-h3;
      }
      p {
        text-align: justify;
        font-family: $font-p;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .studies-page {
    &_title {
      &-h2 {
        font-size: 100px;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .studies-page {
    height: $default-height;

    &_title {
      &-h2 {
        font-size: 130px;
      }
    }
  }
  @media only screen and (min-width: 1200px) {
    .studies-page {
      &_title {
        &-h2 {
          font-size: 150px;
        }
      }
    }
  }
}
