$primary-color: white;
$secondary-color: black;

$about-color: rgb(253, 93, 93);
$studies-color: #b49cd8;
$experience-color: #1db5db;
$knowledgesandprojects-color: #eb95eb;
$contact-color: #9ecc7f;

$font-title: "Mr Dafoe", cursive;
$font-nav: "Piazzolla", serif, bold;
$font-h3: "Ubuntu", sans-serif;
$font-p: "Noto Sans KR", sans-serif;

$default-width: 50%;
$default-height: 98.5vh;
