@import "./variables";

.about-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;

  &_title {
    background-color: $about-color;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 500px;
    &-h2 {
      font-family: $font-title;
      font-size: 180px;
    }
  }

  &_description {
  }
}

.studies-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;

  &_title {
    background-color: $about-color;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 500px;
    &-h2 {
      font-family: $font-title;
      font-size: 180px;
    }
  }

  &_description {
  }
}

.experience-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;

  &_title {
    background-color: $about-color;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 500px;
    &-h2 {
      font-family: $font-title;
      font-size: 180px;
    }
  }

  &_description {
  }
}
.contact-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;

  &_title {
    background-color: $about-color;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 500px;
    &-h2 {
      font-family: $font-title;
      font-size: 180px;
    }
  }

  &_description {
  }
}
