@import "./variables";

.about-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;

  &_title {
    background-color: $about-color;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: $default-width;
    height: $default-height;

    &-h2 {
      font-family: $font-title;
      font-size: 150px;
      padding-top: 100px;
    }
  }

  &_description {
    width: $default-width;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    p {
      text-align: justify;
      width: 80%;
      font-family: $font-p;
    }
  }
}

.studies-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;

  &_title {
    background-color: $studies-color;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: $default-width;
    height: $default-height;
    &-h2 {
      font-family: $font-title;
      font-size: 150px;
      padding-top: 100px;
    }
  }

  &_description {
    width: $default-width;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    h3 {
      color: $studies-color;
      font-family: $font-h3;
    }
    p {
      text-align: justify;
      width: 80%;
      font-family: $font-p;
    }
  }
}

.experience-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;

  &_title {
    background-color: $experience-color;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: $default-width;
    height: $default-height;
    &-h2 {
      font-family: $font-title;
      font-size: 150px;
      padding-top: 100px;
    }
  }

  &_description {
    width: $default-width;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    p {
      text-align: justify;
      width: 80%;
      font-family: $font-p;
    }
    h3 {
      color: $experience-color;
      font-family: $font-h3;
    }
  }
}
.contact-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;

  &_title {
    background-color: $contact-color;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: $default-width;
    height: $default-height;
    &-h2 {
      font-family: $font-title;
      font-size: 150px;
      padding-top: 100px;
    }
  }

  &_description {
    width: $default-width;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    p {
      text-align: justify;
      width: 80%;
      font-family: $font-p;
    }
  }
}
