@import "../../scss/variables";

.contact-page {
  display: flex;
  height: $default-height-mobile;
  flex-direction: column;

  &_title {
    background-color: $contact-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-h2 {
      width: 90%;
      font-family: $font-title;
      font-size: 60px;
      padding-top: 20px;
    }
  }

  &_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      text-align: justify;
      width: 80%;
      font-family: $font-p;
    }
    &-email {
      color: $contact-color;
    }
    &-image {
      height: 50px;
      padding-left: 40px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .contact-page {
    flex-direction: row;
    height: $default-height;
    &_title {
      width: $default-width;
      &-h2 {
        font-size: 100px;
      }
    }
    &_description {
      width: $default-width;
    }
  }
}

@media only screen and (min-width: 992px) {
  .contact-page {
    height: $default-height;

    &_title {
      &-h2 {
        font-size: 130px;
      }
    }
  }
  @media only screen and (min-width: 1200px) {
    .contact-page {
      &_title {
        &-h2 {
          font-size: 150px;
        }
      }
    }
  }
}
